body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: top; /* This should be align-items: flex-start */
    height: 130vh;
    flex-direction: column; /* Change from 'row' to 'column' */
}



h1 {
    text-align: center;
    margin-bottom: 20px;
}

.plot-container {
    width: 90%; /* Covers 90% of the screen width */
    margin-bottom: 20px;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    height: 100%;
}